<section id="about" class="section section-about">
    <div class="animate-up">
        <div class="section-box">
            <div class="profile">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="profile-photo"><img src="{{ '/static/img/uploads/rs-avatar.jpg'|url }}" alt="Robert Smith"/></div>
                    </div>
                    <div class="col-xs-7">
                        <div class="profile-info">
                            <div class="profile-preword"><span>Hello</span></div>
                            <h1 class="profile-title"><span>I'm</span> Luan Vu</h1>

                            <h2 class="profile-position">Developer</h2></div>
                        <ul class="profile-list">
                            <li class="clearfix">
                                <strong class="title">Age</strong>
                                <span class="cont">26</span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">Address</strong>
                                <span class="cont">Hanoi, Vietnam</span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">E-mail</strong>
                                <span class="cont"><a href="mailto:luanvuhlu@gmail.com">luanvuhlu@gmail.com</a></span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">Phone</strong>
                                <span class="cont"><a href="tel:+841648089101">+84 164 808 9101</a></span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">Freelance</strong>
                                <span class="cont">maybe, why not</span>
                            </li>
                            <li class="clearfix">
                                <strong class="title"><span class="button">Not open for hire</span></strong>
                                <span class="cont"><i class="rsicon rsicon-calendar"></i>till unknow</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="profile-social">
                <ul class="social">
                    <li><a class="ripple-centered" href="https://www.facebook.com/luanvuhlu" target="_blank"><i
                            class="rsicon rsicon-facebook"></i></a></li>
                    <li><a class="ripple-centered" href="https://www.linkedin.com/in/luanvv/" target="_blank"><i
                            class="rsicon rsicon-linkedin"></i></a></li>
                    <li><a class="ripple-centered" href="skype:luanvuhlu"><i
                            class="rsicon rsicon-skype"></i></a></li>
                    <li><a class="ripple-centered" href="mailto:luanvuhlu@gmail.com"><i
                            class="rsicon rsicon-email"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="section-txt-btn">
            <p><a class="btn btn-lg btn-border ripple" target="_blank"
                  href="http://dev.novembit.com/rs_card/wp-content/uploads/2015/11/test-1.pdf">Download Resume</a></p>

            <p>{{ bag('intro.intro.about') }}</p>
        </div>
    </div>
</section>
<!-- #about -->