{% from "macros/blog.html" import render_blog_post %}
<section id="blog" class="section section-blog">
    <div class="animate-up">
        <h2 class="section-title">From The Blog</h2>
        <div class="more-blog text-center">
            <a href="{{ '/blog'|url }}">View All</a>
        </div>
        <div class="blog-grid">
            <div class="grid-sizer"></div>
            <div class="blog">
                <div class="row">
                    {% with blogposts = site.query('/blog').order_by('-pub_date').limit(4) %} 
                        {% for blogpost in blogposts %}
                            {{ render_blog_post(blogpost, from_index=true) }}
                        {% endfor %}
                    {% endwith  %}
                </div>
            </div>
        </div>
        {% if blogposts|length > 4 %}
            <div class="more-blog text-center">
                <a href="{{ '/blog'|url }}">Read more</a>
            </div>
        {% endif %}
    </div>
</section>
<!-- #blog -->