<section id="contact" class="section section-contact">
    <div class="animate-up">
        <h2 class="section-title">Contact Me</h2>

        <div class="row">
            <div class="col-sm-6">
                <div class="section-box contact-form">
                    <h3>Feel free to contact me</h3>

                    <form class="rsForm" action="php/mailsender.php" method="post">
                        <div class="input-field">
                            <label>Name</label>
                            <input type="text" name="rsName" value="">
                            <span class="line"></span>
                        </div>

                        <div class="input-field">
                            <label>Email</label>
                            <input type="email" name="rsEmail" value="">
                            <span class="line"></span>
                        </div>

                        <div class="input-field">
                            <label>Subject</label>
                            <input type="text" name="rsSubject" value="">
                            <span class="line"></span>
                        </div>

                        <div class="input-field">
                            <label>Message</label>
                            <textarea rows="4" name="rsMessage"></textarea>
                            <span class="line"></span>
                        </div>
      
      <div class="check-field">
        <input type="checkbox" name="rsPivacyPolicy" id="rsPivacyPolicy">
        <label for="rsPivacyPolicy">I have read the Privacy Policy note.</label>
      </div>

                        <span class="btn-outer btn-primary-outer ripple">
                            <input class="rsFormSubmit btn btn-lg btn-primary" type="submit" value="Send">
                        </span>
                    </form>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="section-box contact-info has-map">
                    <ul class="contact-list">
                        <li class="clearfix">
                            <strong>Address</strong>
                            <span>Belgium, Brussels, Liutte 27, BE</span>
                        </li>
                        <li class="clearfix">
                            <strong>phone</strong>
                            <span><a href="tel:+12562548456">+1 256 254 84 56</a></span>
                        </li>
                        <li class="clearfix">
                            <strong>E-mail</strong>
                            <span><a href="mailto:robertsmith@company.com">robertsmith@company.com</a></span>
                        </li>
                    </ul>

                    <div id="map" data-latitude="50.84592" data-longitude="4.366859999999974"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #contact -->