<section id="experience" class="section section-experience">
    <div class="animate-up">
        <h2 class="section-title">Work Experience</h2>

        <div class="timeline">
            <div class="timeline-bar"></div>
            <div class="timeline-inner clearfix">
                <div class="timeline-box timeline-box-left">
                    <span class="dot"></span>

                    <div class="timeline-box-inner animate-right">
                        <span class="arrow"></span>

                        <div class="date">03/2018 - now</div>
                        <h3>V.N.E.X.T</h3>
                        <h4>Full Stack developer</h4>

                        <p>Worked as part of a multi-disciplinary team, carrying out ad-hoc tasks as requested by the IT
                            Manager. Had a specific brief to ensure the websites build for customer’s precisely matched
                            their requirements.developers and marketers.</p>
                    </div>
                </div>

                <div class="timeline-box timeline-box-right">
                    <span class="dot"></span>

                    <div class="timeline-box-inner animate-left">
                        <span class="arrow"></span>

                        <div class="date">03/2015 - 03/2017</div>
                        <h3>RIKKEISOFT</h3>
                        <h4>Full Stack developer</h4>

                        <p>I was responsible for working on a range of projects, designing appealing websites and
                            interacting on a daily basis with graphic designers, back-end developers and marketers.</p>
                    </div>
                </div>

                <div class="timeline-box timeline-box-left">
                    <span class="dot"></span>

                    <div class="timeline-box-inner animate-right">
                        <span class="arrow"></span>

                        <div class="date">07/2014 - 01/2015</div>
                        <h3>VDC-CA</h3>
                        <h4>Web Developer</h4>

                        <p>Rebuilt and enhanced existing ASP B2C site with ASP.NET 2.0 Framework and tools. Technology
                            consists of ASP.NET 2.0 (C#), IIS, Microsoft SQL Server 2005, Stored Procedures & PayPal
                            Instant Payment Notification.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- #experience -->