<section id="interests" class="section section-interests">
    <div class="animate-up">
        <h2 class="section-title">My Interests</h2>

        <div class="section-box">
            <p>I have a keen interest in photography. I was vice-president of the photography club during my time at
                university,
                and during this period I organised a number of very successful exhibitions and events both on and off
                campus.
                <br/>I also play the piano to grade 8 standard.</p>

            <ul class="interests-list">
                <li>
                    <i class="map-icon map-icon-bicycling"></i>
                    <span>Bicycling</span>
                </li>
                <li>
                    <i class="map-icon map-icon-movie-theater"></i>
                    <span>Watch Movies</span>
                </li>
                <li>
                    <i class="map-icon map-icon-shopping-mall"></i>
                    <span>Shopping</span>
                </li>
                <li>
                    <i class="map-icon map-icon-book-store"></i>
                    <span>Reading</span>
                </li>
                <li>
                    <i class="map-icon map-icon-lawyer"></i>
                    <span>Lawyer</span>
                </li> 
            </ul>
        </div>
    </div>
</section>
<!-- #interests -->