<section id="references" class="section section-references">
    <div class="animate-up">
        <h2 class="section-title">References</h2>

        <div class="section-box">
            <ul class="ref-slider">
                <li>
                    <div class="ref-box">
                        <div class="person-speech">
                            <p>I confirm that I have dealt with New Company Ltd since 1998. Their work has been a major
                                factor in our
                                website's success, helping it to become one of the most visited resources of its kind on
                                the Internet.</p>
                        </div>
                        <div class="person-info clearfix">
                            <img class="person-img" src="{{ '/static/img/uploads/rs-avatar-60x60.jpg'|url }}" alt="Headshot">

                            <div class="person-name-title">
                                <span class="person-name">Alexander Jokovich</span>
                                <span class="person-title">Modern LLC , HR</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ref-box">
                        <div class="person-speech">
                            <p>I confirm that New Company Ltd has been a customer of ours since 1998, during which time
                                they have always made payments reliably,
                                in full and on time.</p>
                        </div>
                        <div class="person-info clearfix">
                            <img class="person-img" src="{{ '/static/img/uploads/rs-avatar-60x60.jpg'|url }}" alt="Headshot">

                            <div class="person-name-title">
                                <span class="person-name">Alexander Jokovich</span>
                                <span class="person-title">Modern LLC , HR</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ref-box">
                        <div class="person-speech">
                            <p>I have known Robert Smith for 10 years as web developer. I can confirm that he is a man
                                of great integrity, is extremely dedicated
                                to his family and work, and is entirely peace-loving.</p>
                        </div>
                        <div class="person-info clearfix">
                            <img class="person-img" src="{{ '/static/img/uploads/rs-avatar-60x60.jpg'|url }}" alt="Headshot">

                            <div class="person-name-title">
                                <span class="person-name">Alexander Jokovich</span>
                                <span class="person-title">Modern LLC , HR</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="ref-slider-nav">
                <span id="ref-slider-prev" class="slider-prev"></span>
                <span id="ref-slider-next" class="slider-next"></span>
            </div>
        </div>
    </div>
</section>
<!-- #references -->