<section id="skills" class="section section-skills">
    <div class="animate-up">
        <h2 class="section-title">Professional Skills</h2>
        <div class="section-box">
            <div class="row">
                <div class="col-sm-6">
                    <div class="progress-bar">
                        <div class="bar-data">
                            <span class="bar-title">Java</span>
                            <span class="bar-value">90%</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="90%"></span>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="progress-bar">
                        <div class="bar-data">
                            <span class="bar-title">JavaScript</span>
                            <span class="bar-value">70%</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="70%"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="progress-bar">
                        <div class="bar-data">
                            <span class="bar-title">Spring</span>
                            <span class="bar-value">70%</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="70%"></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="progress-bar">
                        <div class="bar-data">
                            <span class="bar-title">Hibernate</span>
                            <span class="bar-value">85%</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="85%"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="progress-bar">
                        <div class="bar-data">
                            <span class="bar-title">Python</span>
                            <span class="bar-value">60%</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="60%"></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="progress-bar">
                        <div class="bar-data">
                            <span class="bar-title">Django</span>
                            <span class="bar-value">60%</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="60%"></span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-6">
                    <div class="progress-bar">
                        <div class="bar-data">
                            <span class="bar-title">Linux</span>
                            <span class="bar-value">80%</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="80%"></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="progress-bar">
                        <div class="bar-data">
                            <span class="bar-title">Docker</span>
                            <span class="bar-value">60%</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="60%"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="progress-bar">
                        <div class="bar-data">
                            <span class="bar-title">Amazon Web Service</span>
                            <span class="bar-value">60%</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="60%"></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="progress-bar">
                        <div class="bar-data">
                            <span class="bar-title">Mobile App(Native, RN, Flutter)</span>
                            <span class="bar-value">50%</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="50%"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #skills -->