{% from "macros/translation.html" import transbag %}
{% from "macros/translation.html" import transbagname %}
<section id="text-section" class="section section-text">
    <div class="animate-up animated">
        <!-- <h2 class="section-title">Furture</h2> -->

        <div class="section-box">
            {% for line in bag(transbagname('intro', this.alt) + 'intro.fun_description') %}
                <div>{{ line }}</div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- #text-section -->