{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block static %}
{% endblock %}
{% block content %}
<div class="row animate-up animated">
  <div class="col-sm-12">
    <main class="post-single">
      <article class="post-content section-box">
          <div class="post-media">
              {% with cover = '/static/img/'|url + this.cover %}
              <img
                src="#"
                style="background-size: contain;background-repeat: no-repeat; background-position: center center;background-image: url('{{cover}}');width: 100%;height:650px;" 
                alt="" title="">
              {% endwith %}						
            </div>
        <div class="post-inner">
          <header class="post-header">
            <div class="post-data">
              <div class="post-tag">
                {% for t in this.tags -%}
                    <a href="{{ ('/tags/' ~ t.lower())|url }}">
                      #{{ t }}
                    </a>
                {% endfor %}
              </div>

              <div class="post-title-wrap">
                <h1 class="post-title">{{ this.title }}</h1>
                <time class="post-datetime" datetime="2015-03-13T07:44:01+00:00">
                  <span class="day">{{ this.pub_date.day }}</span>
                  <span class="month">{{ this.pub_date.strftime("%b")|upper }}</span>
                  <span class="year">{{ this.pub_date.year }}</span>
                </time>
              </div>

              <div class="post-info">
                <a href=""><i class="rsicon rsicon-user"></i>by luanvv</a>
                <a href=""><i class="rsicon rsicon-comments"></i>56</a>
              </div>
            </div>
          </header>

          <div class="post-editor clearfix">
            {{ this.body }}
          </div>

        </div><!-- .post-inner -->
      </article><!-- .post-content -->
    </main>
    <!-- .post-single -->
  </div>
</div>
{% endblock %}
{% block foot_static %}
{% endblock %}