{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block loading %}header-has-img loading{% endblock %}
{% block content %}
    {% include "includes/about.html" %}
    {% include "includes/skills.html" %}  
    {#% include "includes/portfolio.html" %#}
    {% include "includes/education.html" %}
    {% include "includes/experience.html" %}
    {% include "includes/clients.html" %}  
    {% include "includes/references.html" %}
    {% include "includes/blog.html" %} 
    {#% include "includes/text-selection.html" %#}
    {% include "includes/interests.html" %}  
    {#% include "includes/calendar.html" %#}
    {#% include "includes/contact.html" %#}
{% endblock %}
